<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean class="controller.MainController" >
		<property name="boardService" ref="boardService"/>
	</bean>
	<bean class="controller.SessionController">
		<property name="authService" ref="authService" />
	</bean>
	<bean class="controller.MemberController">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean class="controller.RegisterController">
		<property name="memberRegisterService" ref="memberRegisterService" />
	</bean>
	<bean class="controller.FindIdController">
		<property name="findIdService" ref="findIdService" />
	</bean>
	<bean class="controller.FindPassController">
		<property name="findPassService" ref="findPassService" />
	</bean>
	<bean class="controller.BoardController">
		<property name="boardService" ref="boardService" />
	</bean>
	
	<bean class="controller.KuController">
		<property name="kuService" ref="kuService"/>
	</bean>
	
	<bean class="controller.GoneController">
		<property name="goneService" ref="goneService"/>
	</bean>
	
	<bean class="controller.MinController">
		<property name="minService" ref="minService"/>
	</bean>
	
	<bean class="controller.SuController">
		<property name="suService" ref="suService"/>
	</bean>
	
			
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/edit/**" />
			<bean class="interceptor.AuthCheckInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>